<div class="col-md-5 offset-md-3">
<h3> Update employee </h3>
<form (ngSubmit) = "onSubmit()" >
	

<div class="form-group">
	

<div class="form-group">
	<label>First name</label>
	<input type="text" class="form-control" id="firstName"

	 [(ngModel)] = "employee.firstName"    name="firstName">

	</div>

	<div class="form-group">
	<label>Last name</label>
	<input type="text" class="form-control" id="lastName"

	 [(ngModel)] = "employee.lastName"    name="lastName">

	</div>

	<div class="form-group">
	<label>cin</label>
	<input type="text" class="form-control" id="cin"

	 [(ngModel)] = "employee.cin"    name="cin">

	</div>

	<div class="form-group">
	<label>age</label>
	<input type="text" class="form-control" id="age"

	 [(ngModel)] = "employee.age"    name="age">

</div>
<!--

	</div>

	<div class="form-group">
	<label>positions</label>
	<input type="text" class="form-control" id="positions"

	 [(ngModel)] = "employee.positions"    name="positions">

	</div>

	<div class="form-group">
	<label>invitation</label>
	<input type="text" class="form-control" id="invitation"

	 [(ngModel)] = "employee.invitation"    name="invitation">

	</div>

	<div class="form-group">
	<label>photo</label>
	<input type="text" class="form-control" id="photo"

	 [(ngModel)] = "employee.photo"    name="photo">

	</div>


	<div class="form-group">
	<label>username</label>
	<input type="text" class="form-control" id="username"

	 [(ngModel)] = "employee.username"    name="username">

	</div>

<div class="form-group">
	<label>email</label>
	<input type="text" class="form-control" id="email"

	 [(ngModel)] = "employee.email"    name="email">

	</div>

	<div class="form-group">
	<label>password</label>
	<input type="text" class="form-control" id="password"

	 [(ngModel)] = "employee.password"    name="password">

	</div>


<div class="form-group">
	<label>phoneNumber</label>
	<input type="text" class="form-control" id="phoneNumber"

	 [(ngModel)] = "employee.phoneNumber"    name="phoneNumber">

	</div>


	<div class="form-group">
	<label>role</label>
	<input type="text" class="form-control" id="role"

	 [(ngModel)] = "employee.role"    name="role">

	</div>
	<label>ID </label>
	<input type="text" class="form-control" id="id"

	 [(ngModel)] = "employee.id"    name="id">
	 -->

	</div>


	<button class = "btn btn-success" type="submit" >submit</button>







	
</form>
</div>