
   
    <div class=" content" style="align-items: center; align-content: center;">
        <form>
          <div class=" col-md-12" style="position: relative;" >

              <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-4">
                      <input type="text"   [(ngModel)]="form.userName"
                      required
                      name="userName"
                      #userName="ngModel"
                      [ngModelOptions] = "{standalone: true}"
                       placeholder="Username" style="width: 60%; position: relative;margin-top: 50%;"  />

                     </div>
                     <div class="col-md-4"></div>

              </div>
              <div class="row">
                <div class="col-md-7"></div>
                <div class="col-md-2"><button class="btn btn-danger" (click)="forgetPassword()">test</button></div>
                 
                <div class="col-md-5"></div>
            </div>
          </div>
        </form>
    </div>
    
    