<app-navbar></app-navbar>
<div class="main-panel">
    <!-- BEGIN : Main Content-->
    <div class="main-content">
      <div class="content-wrapper"><!-- Form actions layout section start -->
<section id="form-action-layouts">
<div class="row">
<div class="col-sm-12">
  <div class="content-header">Form Actions</div>
</div>
</div>


<div class="row">
<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title" id="from-actions-multiple">Event Registration</h4>
      <div class="alert alert-info" role="alert">
        <strong>Multiple Form Actions On Top And Bottom.</strong>
      </div>

      <p>To add form actions on top and bottom of the form add a div with <code>.form-actions</code> class to start
        and end the form. Add <code>.buttons-group</code> class along with <code>.float-*</code> class to pull the
        buttons group to either left or right.</p>
    </div>
    <div class="card-body">
      <div class="px-3">

        <form class="form">
          <div class="form-actions top clearfix">
            <div class="buttons-group float-right">
              <button type="button" class="btn btn-raised btn-info mr-1">Action 1</button>
              <button type="button" class="btn btn-raised btn-danger mr-1">Action 2</button>
              <button type="button" class="btn btn-raised btn-success">Action 3</button>
            </div>
          </div>

          <div class="row justify-content-md-center">
            <div class="col-md-6">
              <div class="form-body">
                <div class="row">
                  <div class="form-group col-12 mb-2">
                    <label for="eventRegInput1">Car Model</label>
                    <input type="text" [(ngModel)]="car.carModel" id="eventRegInput1" class="form-control" placeholder="name" name="fullname">
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-12 mb-2">
                    <label for="eventRegInput2">Car status</label>
                    <input type="text" [(ngModel)]="car.carStatus" id="eventRegInput2" class="form-control" placeholder="title" name="title">
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-12 mb-2">
                    <label for="eventRegInput3">Matricule</label>
                    <input type="text" [(ngModel)]="car.matricule" id="eventRegInput3" class="form-control" placeholder="company" name="company">
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-12 mb-2">
                    <label for="eventRegInput4">Image</label>
                    <input type="email" [(ngModel)]="car.image" id="eventRegInput4" class="form-control" placeholder="email" name="email">
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-12 mb-2">
                    <label for="eventRegInput5">Price</label>
                    <input type="number"  [(ngModel)]="car.price" id="eventRegInput5" class="form-control" name="contact" placeholder="contact number">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-12 mb-2">
                    <label for="eventRegInput5">Rating</label>
                    <input type="number"  [(ngModel)]="car.rating" id="eventRegInput5" class="form-control" name="contact" placeholder="contact number">
                  </div>
                </div>
                
                <div class="row">
                  <div class="form-group col-12 mb-2">
                    <label for="eventRegInput5">Seats</label>
                    <input type="number"  [(ngModel)]="car.seats" id="eventRegInput5" class="form-control" name="contact" placeholder="contact number">
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-12 mb-2">
                    <label for="eventRegInput5">Gearbox</label>
                    <input type="number"  [(ngModel)]="car.gearbox" id="eventRegInput5" class="form-control" name="contact" placeholder="contact number">
                  </div>
                </div>

                
                <div class="row">
                  <div class="form-group col-12 mb-2">
                    <label for="eventRegInput5">Start Date Location</label>
                    <input type="date" [(ngModel)]="car.StartDateLocation" id="eventRegInput5" class="form-control" name="contact" placeholder="contact number">
                  </div>
                </div>
                
                <div class="row">
                  <div class="form-group col-12 mb-2">
                    <label for="eventRegInput5">End Date Location</label>
                    <input type="date"  [(ngModel)]="car.EndDateLocation" id="eventRegInput5" class="form-control" name="contact" placeholder="contact number">
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-12 mb-2">
                    <label for="eventRegInput5">day</label>
                    <input type="number"  [(ngModel)]="car.day" id="eventRegInput5" class="form-control" name="contact" placeholder="contact number">
                  </div>
                </div>

                

                <div class="row">
                  <div class="form-group col-12 mb-2">
                    <label>Existing Customer</label>
                    <div class="input-group">
                      <div class="custom-control custom-radio d-inline-block ml-1">
                        <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline1">Yes</label>
                      </div>
                      <div class="custom-control custom-radio d-inline-block ml-2">
                        <input type="radio" id="customRadioInline2" checked name="customRadioInline1" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline2">No</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-actions clearfix">
            <div class="buttons-group float-left">
              <button type="button" class="btn btn-raised btn-warning mr-1">
                <i class="ft-x"></i> Cancel
              </button>
              <button type="button" class="btn btn-raised btn-primary mr-1" (click)="addCar()">
                <i class="fa fa-check-square-o"></i> Save
              </button>
            </div>

            <div class="buttons-group float-right">
              <button type="button" class="btn btn-raised btn-info mr-1">Action 1</button>
              <button type="button" class="btn btn-raised btn-danger mr-1">Action 2</button>
              <button type="button" class="btn btn-raised btn-success">Action 3</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
</div>

</section>
<!-- // Form actions layout section end -->

      </div>
    </div>
    <!-- END : End Main Content-->

    <!-- BEGIN : Footer-->
    <footer class="footer footer-static footer-light">
      <p class="clearfix text-muted text-sm-center px-2"><span>Copyright  &copy; 2019 <a href="https://themeforest.net/user/pixinvent/portfolio?ref=pixinvent" id="pixinventLink" target="_blank" class="text-bold-800 primary darken-2">PIXINVENT </a>, All rights reserved. </span></p>
    </footer>
    <!-- End : Footer-->

  </div>