<app-navbar></app-navbar>
<div class="main-panel">
  <!-- BEGIN : Main Content-->
  <div class="main-content">
    <div class="content-wrapper">
      <!-- Form actions layout section start -->
      <section id="form-action-layouts">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <div class="alert alert-info" role="alert">
                  <strong>Add Car</strong>
                </div>

                <h3>
                  Insert your informations here !
                </h3>
              </div>
              <div class="card-body">
                <div class="px-3">

                  <form (ngSubmit)="onUpload()" novalidate enctype="multipart/form-data" #f="ngForm">
                    <div class="row justify-content-md-center">
                      <div class="col-md-6">
                        <div class="form-body">
                          <div class="row">
                            <div class="form-group col-12 mb-2">
                              <label for="eventRegInput1">Car Model<span class="star">*</span></label>
                              <input type="text" [(ngModel)]="car.carModel" id="eventRegInput1" class="form-control"
                                placeholder="name" name="fullname" #m="ngModel" required minlength="2">
                                <div class="alert alert-danger" *ngIf="m.invalid && m.touched">  
                                  <div *ngIf="m.errors.required">Car Model is a required field </div>
                                  <div *ngIf="m.errors.minlength">Car Model minimum length is equal to 2  </div>

                                </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="form-group col-12 mb-2">
                              <label for="eventRegInput3">Registration number<span class="star">*</span></label>
                              <input type="text"  #mat="ngModel" required [(ngModel)]="car.matricule" id="eventRegInput3" class="form-control"
                                placeholder="Exemple : 222 TUN 2022" name="company">
                                <div class="alert alert-danger" *ngIf="mat.invalid && mat.touched">  
                                  <div *ngIf="mat.errors.required">Registration number is a required field </div>
                                </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-12">
                              <label for="eventRegInput3">Upload Image<span class="star">*</span></label>
                            </div>
                          </div>

                        
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="imagen" #imagenInputFile
                                (change)="onFileChange($event)" accept="image/png, image/jpeg, image/gif">
                                <label class="custom-file-label" for="imagen">Choose image</label>
                            </div>
                            <div *ngIf="imagen" class="mt-5">
                                <h5>Image preview:</h5>
                                <div>
                                    <img class="image-thumbnail" style="max-width: 100px" [src]="imagenMin">
                                </div>
                            </div>
                            <div class="form-group d-flex justify-content-between my-3">
                                <button class="btn btn-outline-danger" [disabled]="!imagen" (click)="reset()"><i class="fas fa-sync-alt"></i> Reset</button>
                            </div>

                          <div class="row">
                            <div class="form-group col-12 mb-2">
                              <label for="eventRegInput5">Price <span class="star">*</span></label>
                              <input type="number" [(ngModel)]="car.price" id="eventRegInput5" class="form-control"
                                name="price" #price="ngModel" required placeholder="Price">
                                <div class="alert alert-danger" *ngIf="price.invalid && price.touched">  
                                  <div *ngIf="price.errors.required">Price is a required field </div>
                                </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="form-group col-12 mb-2">
                              <label for="eventRegInput5">Rating <span class="star">*</span></label>
                              <input type="number" #rating="ngModel" required [(ngModel)]="car.rating" id="eventRegInput5" class="form-control"
                                name="rating" placeholder="Rating">
                                <div class="alert alert-danger" *ngIf="rating.invalid && rating.touched">  
                                  <div *ngIf="rating.errors.required">Rating is a required field </div>
                                </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="form-group col-12 mb-2">
                              <label for="eventRegInput5">Seats<span class="star">*</span></label>
                              <input type="number" [(ngModel)]="car.seats" id="eventRegInput5" class="form-control"
                                name="seats"  #seats="ngModel" required placeholder="Seats">
                                <div class="alert alert-danger" *ngIf="seats.invalid && seats.touched">  
                                  <div *ngIf="seats.errors.required">Seats is a required field </div>
                                </div>
                              </div>
                          </div>

                          <div class="row">
                            <div class="form-group col-12 mb-2">
                              <label for="eventRegInput5">Gearbox<span class="star">*</span></label>
                              <input type="text" #gearbox="ngModel" [(ngModel)]="car.gearbox" id="eventRegInput5" class="form-control"
                                name="gearbox" placeholder="Gearbox Automatic or Manual">
                                <div class="alert alert-danger" *ngIf="gearbox.invalid && gearbox.touched">  
                                  <div *ngIf="gearbox.errors.required">Gearbox is a required field </div>
                                </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  
                    <div class="form-actions clearfix">
                      <div class="buttons-group float-left">
                        <button type="button" class="btn btn-raised btn-warning mr-1" (click)="f.resetForm()">
                          <i class="ft-x"></i> Cancel
                        </button>
                        <button type="button" class="btn btn-raised btn-primary mr-1"  type="submit" class="btn btn-outline-success"[disabled]="f.invalid" [disabled]="!imagen">
                          <i class="fa fa-check-square-o"></i> Save
                        </button>
                      </div>
                    </div>
                  </form>

      
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>
      <!-- // Form actions layout section end -->

    </div>
  </div>
  <!-- END : End Main Content-->

  <!-- BEGIN : Footer-->
  <footer class="footer footer-static footer-light">
    <p class="clearfix text-muted text-sm-center px-2"><span>Copyright &copy; 2019 <a
          href="https://themeforest.net/user/pixinvent/portfolio?ref=pixinvent" id="pixinventLink" target="_blank"
          class="text-bold-800 primary darken-2">PIXINVENT </a>, All rights reserved. </span></p>
  </footer>
  <!-- End : Footer-->
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 50px; color: white">Uploading the image...</p>
</ngx-spinner>
</div>