<app-navbar></app-navbar>
<div class="main-panel">
  <!-- BEGIN : Main Content-->
  <div class="main-content">
    <div class="content-wrapper">
      <!-- Form actions layout section start -->
      <section id="form-action-layouts">
        <div class="row">
          <div class="col-sm-12">
            <div class="content-header">Form Actions</div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <div class="alert alert-info" role="alert">
                  <strong>Add Car</strong>
                </div>

                <h3>
                  Insert your informations here !
                </h3>
              </div>
              <div class="card-body">
                <div class="px-3">

                  <form (ngSubmit)="onUpload()" novalidate enctype="multipart/form-data">
                    <div class="row justify-content-md-center">
                      <div class="col-md-6">
                        <div class="form-body">
                          <div class="row">
                            <div class="form-group col-12 mb-2">
                              <label for="eventRegInput1">Car Model</label>
                              <input type="text" [(ngModel)]="car.carModel" id="eventRegInput1" class="form-control"
                                placeholder="name" name="fullname" #m="ngModel" required minlength="2">
                                <div class="alert alert-danger" *ngIf="m.invalid && m.touched">  
                                  <div *ngIf="m.errors.required">Car Model is a required field </div>
                                  <div *ngIf="m.errors.minlength">Car Model minimum length is equal to 2  </div>

                                </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="form-group col-12 mb-2">
                              <label for="eventRegInput2">Car status</label>
                              <input type="text" [(ngModel)]="car.carStatus" id="eventRegInput2" class="form-control"
                                placeholder="title" name="title">
                            </div>
                          </div>

                          <div class="row">
                            <div class="form-group col-12 mb-2">
                              <label for="eventRegInput3">Matricule</label>
                              <input type="text" [(ngModel)]="car.matricule" id="eventRegInput3" class="form-control"
                                placeholder="company" name="company">
                            </div>
                          </div>

                          <div class="container row">
                            <div class="col-md-12">
                              <label for="eventRegInput3">Upload Image</label>
                            </div>
                          </div>

                        
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="imagen" #imagenInputFile
                                (change)="onFileChange($event)" accept="image/png, image/jpeg, image/gif">
                                <label class="custom-file-label" for="imagen">Choose image</label>
                            </div>
                            <div *ngIf="imagen" class="mt-5">
                                <h5>Image preview:</h5>
                                <div>
                                    <img class="image-thumbnail" style="max-width: 100px" [src]="imagenMin">
                                </div>
                            </div>
                            <div class="form-group d-flex justify-content-between my-3">
                                <button class="btn btn-outline-danger" [disabled]="!imagen" (click)="reset()"><i class="fas fa-sync-alt"></i> Reset</button>
                            </div>

                          <div class="row">
                            <div class="form-group col-12 mb-2">
                              <label for="eventRegInput5">Price</label>
                              <input type="number" [(ngModel)]="car.price" id="eventRegInput5" class="form-control"
                                name="contact" placeholder="contact number">
                            </div>
                          </div>
                          <div class="row">
                            <div class="form-group col-12 mb-2">
                              <label for="eventRegInput5">Rating</label>
                              <input type="number" [(ngModel)]="car.rating" id="eventRegInput5" class="form-control"
                                name="contact" placeholder="contact number">
                            </div>
                          </div>

                          <div class="row">
                            <div class="form-group col-12 mb-2">
                              <label for="eventRegInput5">Seats</label>
                              <input type="number" [(ngModel)]="car.seats" id="eventRegInput5" class="form-control"
                                name="contact" placeholder="contact number">
                            </div>
                          </div>

                          <div class="row">
                            <div class="form-group col-12 mb-2">
                              <label for="eventRegInput5">Gearbox</label>
                              <input type="text" [(ngModel)]="car.gearbox" id="eventRegInput5" class="form-control"
                                name="contact" placeholder="contact number">
                            </div>
                          </div>


                          <div class="row">
                            <div class="form-group col-12 mb-2">
                              <label for="eventRegInput5">Start Date Location</label>
                              <input type="date" [(ngModel)]="car.startdatelocation" id="eventRegInput5"
                                class="form-control" name="contact" placeholder="contact number">
                            </div>
                          </div>

                          <div class="row">
                            <div class="form-group col-12 mb-2">
                              <label for="eventRegInput5">End Date Location</label>
                              <input type="date" [(ngModel)]="car.enddatelocation" id="eventRegInput5"
                                class="form-control" name="contact" placeholder="contact number">
                            </div>
                          </div>

                          <div class="row">
                            <div class="form-group col-12 mb-2">
                              <label for="eventRegInput5">day</label>
                              <input type="number" [(ngModel)]="car.day" id="eventRegInput5" class="form-control"
                                name="contact" placeholder="contact number">
                            </div>
                          </div>



                          <div class="row">
                            <div class="form-group col-12 mb-2">
                              <label>Existing Customer</label>
                              <div class="input-group">
                                <div class="custom-control custom-radio d-inline-block ml-1">
                                  <input type="radio" id="customRadioInline1" name="customRadioInline1"
                                    class="custom-control-input">
                                  <label class="custom-control-label" for="customRadioInline1">Yes</label>
                                </div>
                                <div class="custom-control custom-radio d-inline-block ml-2">
                                  <input type="radio" id="customRadioInline2" checked name="customRadioInline1"
                                    class="custom-control-input">
                                  <label class="custom-control-label" for="customRadioInline2">No</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
                      <p style="font-size: 50px; color: white">Uploading the image...</p>
                  </ngx-spinner>
                  
                    <div class="form-actions clearfix">
                      <div class="buttons-group float-left">
                        <button type="button" class="btn btn-raised btn-warning mr-1">
                          <i class="ft-x"></i> Cancel
                        </button>
                        <button type="button" class="btn btn-raised btn-primary mr-1"  type="submit" class="btn btn-outline-success" [disabled]="!imagen">
                          <i class="fa fa-check-square-o"></i> Save
                        </button>
                      </div>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>

      </section>
      <!-- // Form actions layout section end -->

    </div>
  </div>
  <!-- END : End Main Content-->

  <!-- BEGIN : Footer-->
  <footer class="footer footer-static footer-light">
    <p class="clearfix text-muted text-sm-center px-2"><span>Copyright &copy; 2019 <a
          href="https://themeforest.net/user/pixinvent/portfolio?ref=pixinvent" id="pixinventLink" target="_blank"
          class="text-bold-800 primary darken-2">PIXINVENT </a>, All rights reserved. </span></p>
  </footer>
  <!-- End : Footer-->

</div>