<div class="main-panel">
    <!-- BEGIN : Main Content-->
    <div class="main-content">
      <div class="content-wrapper"><div class="row">
  
  </div>
  <!--Basic Table Starts-->
  <section id="simple-table">
  <div class="row">
  <div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title"><b>List Reservation</b></h4>
    </div>
    <div class="card-content">
      <div class="card-body">


        <nav class="navbar">
         <input class="form-control" type="text" name="numplaces" [(ngModel)]="numplaces"(ngModelChange)="Search()"
         placeholder="Enter Date Réservation To Search"><br><br>
         </nav>


        <table class="table">
          <thead>
            <tr>
              <th (click)="sort('date')">Date Reservation&nbsp;<i class="fa fa-sort"></i></th>
              <th (click)="sort('place')">Num places&nbsp;<i class="fa fa-sort"></i></th>
              <th>Num Reservation</th>
             
              
              <th>Action</th>
            
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let r of listreservation | orderBy: key: reverse | paginate: {itemsPerPage:5,currentPage:p}; ">
              <td>{{r.reservationdate}}</td>
              <td>{{r.numplaces}}</td>
              <td>{{r.numreservation}}</td>
              
              
              <td><a class="btn btn-danger" (click)="deletereservation(r.id)">Delete</a></td>
              <td><a class="btn btn-warning" (click)="updatereservation(r.id)">Update</a></td>
             
          </tr>
  
           
          </tbody>
          <pagination-controls (pageChange) = "p  = $event"></pagination-controls>
        </table>

      </div>
    </div>
  </div>
  </div>
  </div>
  </section>
  <!--Basic Table Ends-->