
<div>
	<table class="table table-striped table-hover "  style="text-align-last: center;"  >
         
 			
<tr>
	<td style="width: 25%; height: 5%; align-content: right;"  ></td>
	<h3>View employee details</h3>
	<br>


<div>
	<label> <b> First name: </b> </label> {{employee.firstName}}
</div>



<div>
	<label> <b> Last name: </b> </label> {{employee.lastName}}
</div>

<div>
	<label> <b> CIN: </b> </label> {{employee.cin}}
</div>

<div>
	<label> <b> Age: </b> </label> {{employee.age}}
</div>
</tr>
	</table>
</div>
